<div role="tabpanel" class="tab-pane" id="schedule">
  <h4>Upcoming Games</h4>
  <table class="table">
    <tr>
      <th>Heading1</th>
      <th>Heading2</th>
      <th>Heading3</th>
    </tr>
  </table>
</div>
