  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-pills team_tabs" role="tablist">

    <li role="presentation" class="active"><a href="#players" aria-controls="players" role="tab" data-toggle="tab"> <i class="fa fa-users" aria-hidden="true"></i> Players</a></li>

    <li role="presentation"><a href="#schedule" aria-controls="profile" role="tab" data-toggle="tab"> <i class="fa fa-calendar" aria-hidden="true"></i> Schedule</a></li>

    <li role="presentation"><a href="#stats" aria-controls="messages" role="tab" data-toggle="tab"> <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Stats</a></li>

  </ul>
