  <table class="table">
    <tr>
      <th>Player Name</th>
      <th>Games Played Count</th>
    </tr>
    <% @team.players.each do |player| %>
    <tr>
      <td><%= link_to player.full_name, player %></td>
      <td><%= player.registrations.count %></td>
    </tr>
    <% end %>
  </table>
