<ul class="user-tabs nav nav-pills team_tabs">
  <li role="presentation" class="active"><a href="#"><i class="fa fa-users" aria-hidden="true"></i> Players</a></li>
  <li role="presentation"><a href="#"><i class="fa fa-trophy" aria-hidden="true"></i> Schedual</a></li>
  <li role="presentation"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> Stats</a></li>
</ul>
