<h3>Teams I Captain:</h3>
<ul>
<% @user.captained_teams each do |team| %>
  <li>Team Name: <%= team.name %></li>
  <li>in League: <%= team.league.name %></li>
  <li> Players:
    <ul>
      <% team.players.each do |player| %>
        <li> <%= player.first_name %>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>
