<h4></h4>

<table class="table">
  <tr>
    <th>Location/time</th>
    <th>Game</th>
  </tr>
  <% @user.next_ten.each do |game|%>
    <tr>
      <td><%= link_to raw(game.nice_date(game.start_time) + '<br><br>at ' + game.location), game, class: "upcoming-game-link" %>
      <td>
        <%= game.sport_played.name %> Throwdown: <br><br>
        <%= game.home_team.name %> Vs <br><%= game.away_team.name %>
      </td>
    </tr>
  <% end %>
</table>
