
<table class="table user-teams-table">
  <tr>
    <th>Team Name</th>
    <th>Captain</th>
  </tr>
  <% @user.teams.each do |team| %>
  <tr>
    <td id="team-<%= team.id %>-link"><%= link_to team.name, team, class: "user-team-link" %></td>
    <td><%= link_to team.captain.username, team.captain %></td>
  </tr>
  <% end %>
</table>
