<h2><%= @user.full_name %>'s Profile</h2>
<%= render "user_tabs" %>
<div class="container">
  <div class="row">
    <div class="app-wrapper col-sm-10 col-md-7">
      <%= render "user_teams" %>
    </div>
    <div class="user-sidebar bg-primary col-sm-10 col-md-4">
      <h2><i class="fa fa-clock-o" aria-hidden="true"></i> My Schedule</h2>
      <div class="upcoming-games-table">
        <%= render "upcoming_games" %>
      </div>
    </div>
  </div>
</div>
