<div class="jumbotron text-center">
  <div class="container">
    <h1 class="logo">Throwdown</h1>
    <a class="btn btn-success btn-lg login-landing-btn" href="/login">Login</a>
    <a class="btn btn-success btn-lg sign-up-landing-btn" href="/users/new">Sign up </a>

  </div>
</div>
