html {
  height: 100%;
}
body {
  padding-top:80px;
  background: url('/assets/wallpaper.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

.navbar-brand {
  font-family: 'Alfa Slab One', cursive;
  font-size: 3em;
}

main.container {
  background: rgba(178, 178, 178, 0.89);
  padding: 30px;
  border-radius: 10px;
}

main.container .jumbotron {
  background-color: transparent;
}

.jumbotron .logo {
  font-family: 'Alfa Slab One', cursive;
  font-size: 6em;
  color: #3C3C7B;
  text-shadow: 2px 2px 10px #CDCDCD;
}

.btn.btn-success {
  background: #49618F;
  border-color: #49618F;
}


.user-table {
  height: 300px;
  overflow: scroll;
}

